# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: MacNaughton develops systems.
email: mac@RedRiderSolutions.com
description: >- # this means to ignore newlines until "baseurl:"
  Matt is a software engineer living in Portland OR.  
  He develops systems and implements those systems, usually in software.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
# twitter_username: jekyllrb
github_username:  mnaught

# Build settings
include:  ["_pages"]
markdown: kramdown
theme: minimal-mistakes-jekyll
minimal_mistakes_skin: "dark"
plugins:
  - jekyll-feed
  - jekyll-include-cache

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/



author:
  name     : "Matt MacNaughton"
  avatar   : "/assets/images/me.jpg"
  bio      : "Delivering fantastic for over 25 years."
  location : "Portland OR, USA"       
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/mnaught"
      
      label: "RedRiderVR"
      icon: "fas fa-fw fa-link"
      url: "https://RedRiderVR.com"


collections:
    portfolio:
      output: true
      permalink: /:collection/:path/

# plugins:
#   - jekyll-remote-theme

# remote_theme: benbalter/retlab

defaults:
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true


defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:     
      author_profile: true
            
defaults:
  # _portfolio
  - scope:
      path: ""
      type: portfolio
    values:
      layout: single
      author_profile: false
      share: false
github: [metadata]
repository: mnaught/mnaught.github.io